@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

#leftTopMenu {
  display: none;
}

.header {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  position: fixed;
  z-index: 100;
}

.header-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 15.5px;
  padding-bottom: 15.5px;
}

.audi-logo {
  height: 24px;
  width: 69px;
  cursor: pointer;
}

.left-section {
  margin-left: 50px;
  display: flex;
}

.middle-section {
  display: flex;
  justify-content: flex-start;
  margin-left: 100px;
  flex-grow: 1;
}

.middle-section nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.middle-section nav ul li {
  margin-right: 50px;
}

.nav-item {
  color: rgb(109, 109, 109);
  font-size: 24px;
  transition: 0.15s;
  cursor: pointer;
}

.nav-item:hover {
  color: black;
}

.right-section {
  margin-right: 50px;
}

.seacrh-button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.search-logo {
  width: 35px;
  height: 35px;
}

.mainAudiImg,
.audiSecondSectionImg {
  width: 100%;
  height: auto;
}

.main {
  padding-top: 0;
  margin-top: 0;
}

.main-section {
  padding-top: 0;
  margin-top: 0;
}

.header-main-text,
.header-subtitle-text,
.headerLearnMoreBtn {
  position: absolute;
  color: black;
}

.header-main-text {
  top: 199px;
  left: 80px;
  font-size: clamp(1.5rem, 3vw, 10rem);
  font-weight: bold;
}

.header-subtitle-text {
  top: 282px;
  left: 80px;
  font-size: clamp(0.5rem, 1.45vw, 10rem);
}

.headerLearnMoreBtn {
  top: 366px;
  left: 80px;
  padding: 20px 40px;
  border: none;
  font-size: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.headerLearnMoreBtn:hover {
  background-color: rgb(68, 68, 68);
  color: white;
}

.second-section-main-text {
  margin-top: 80px;
  font-size: 64px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 170px;
  padding-right: 170px;
}

.second-section-subtitle-text {
  font-size: 24px;
  display: flex;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.audiThirdSectionImg,
.audiFourthSectionImg {
  width: 100%;
  min-width: 50%;
  height: 100%;
}

.third-section-main-text {
  margin-top: 80px;
  display: flex;
  font-size: 64px;
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
  padding-left: 200px;
  padding-right: 200px;
}

.third-section-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.third-section-column-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.third-aboutBtn-container {
  display: flex;
  margin-top: 55px;
  justify-content: center;
}

.fourth-section-main-text {
  margin-top: 80px;
  display: flex;
  font-size: 64px;
  text-align: center;
  justify-content: center;
  margin-bottom: 35px;
}

.fourth-section-container {
  display: flex;
}

.third-section-text,
.fourth-section-text {
  font-size: 32px;
  display: flex;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 80px;
  text-align: center;
}

.fourth-section-column-container {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.fourth-aboutBtn-container {
  display: flex;
  margin-top: 55px;
  justify-content: center;
}

#AboutBtn {
  border: none;
  background-color: rgb(227, 227, 227);
  padding: 20px 40px;
  font-size: 24px;
  transition: 0.3s;
  cursor: pointer;
}

#AboutBtn:hover {
  background-color: rgb(68, 68, 68);
  color: white;
}

.backToTopBtn-container {
  display: flex;
  position: relative;
}

.backToTopBtn {
  display: flex;
  position: absolute;
  align-items: center;
  right: 0;
  margin-top: 108px;
  margin-right: 40px;
  transition: 0.15s;
  cursor: pointer;
}

.backToTopBtn:hover {
  color: rgb(109, 109, 109);
  filter: invert(51%) sepia(0%) saturate(1138%) hue-rotate(190deg)
    brightness(84%) contrast(104%);
}

.back-to-top-text {
  font-size: 20px;
}

.arrowBackToTopIcon {
  height: 27px;
  width: 27px;
  margin-left: 10px;
}

.footer {
  margin-top: 180px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: black;
  color: white;
  font-size: 24px;
  font-weight: 300;
  padding-top: 31px;
  padding-bottom: 31px;
}

.inst-link {
  text-decoration: underline;
  color: white;
}

@media (max-width: 768px) {
  #leftTopMenu {
    transition: 0.15s;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 100;
  }

  #hamburgerMenu {
    transition: 0.15s;
    display: none;
    height: 1000vh;
    width: 400px;
    list-style-type: none;
    overflow: hidden;
  }

  .hamburger-menu-img {
    height: 20px;
    width: 20px;
  }

  #hamburgerBtn {
    transition: 0.15s;
    background-color: transparent;
    border: none;
    width: 20px;
    height: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
  }

  #hamburgerMenuText {
    transition: 0.15s;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  .menuNavItem {
    flex-direction: column;
    position: relative;
    top: 75px;
    padding-top: 10px;
    list-style-type: none;
    font-size: 32px;
  }

  .main-section {
    margin-top: 80px;
  }
  .header-container {
    transition: 0.15s;
    margin-left: 60px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .left-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  .audi-logo {
    display: flex;
    height: 25px;
    width: 70px;
  }
  .nav-item {
    margin-right: 0;
    font-size: 14px;
  }
  .header-container {
    margin-left: 50px;
    margin-right: 100px;
  }
  .header-main-text {
    top: 100px;
    left: 40px;
    font-size: 24px;
  }
  .header-subtitle-text {
    top: 135px;
    left: 40px;
    font-size: 12px;
    max-width: 200px;
  }
  .headerLearnMoreBtn {
    top: 175px;
    left: 40px;
    font-size: 8px;
    padding: 8px 20px;
  }
  .second-section-subtitle-text {
    font-size: 18px;
  }
  .third-section-text,
  .fourth-section-text {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 60px;
  }
  .middle-section {
    display: none;
  }

  .right-section {
    display: none;
  }

  .second-section-main-text,
  .third-section-main-text,
  .fourth-section-main-text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .second-section-subtitle-text {
    padding-left: 15px;
    padding-right: 15px;
  }

  .third-section-container,
  .fourth-section-container {
    flex-direction: column;
    align-items: center;
  }

  .third-section-column-container,
  .fourth-section-column-container {
    padding-left: 0;
    padding-right: 0;
  }

  .audiThirdSectionImg,
  .audiFourthSectionImg {
    width: 100%;
    height: auto;
  }

  .third-section-text,
  .fourth-section-text {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #AboutBtn {
    margin-top: -10px;
    padding: 15px 30px;
    font-size: 20px;
  }

  .fourth-section-container .audiFourthSectionImg {
    order: -1;
  }

  .footer-container {
    transition: font-size 0.15s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }

  .footer-left-section,
  .footer-middle-section,
  .footer-right-section {
    padding-top: 10px;
  }
}

@media (min-width: 768.01px) and (max-width: 866px) {
  .main-section {
    margin-top: 40px;
  }
  .header-container {
    transition: 0.15s;
    margin-left: 25px;
    margin-right: 25px;
  }

  .left-section {
    margin-left: -35px;
  }
  .header-main-text {
    top: 120px;
    left: 40px;
    font-size: 40px;
  }
  .header-subtitle-text {
    top: 190px;
    left: 40px;
    font-size: 18px;
    max-width: 350px;
  }
  .headerLearnMoreBtn {
    top: 260px;
    left: 40px;
    font-size: 18px;
    padding: 14px 28px;
  }

  .middle-section {
    margin-left: 15px;
  }

  .middle-section nav ul li {
    margin-right: 30px;
  }

  .audi-logo {
    height: 13px;
    width: 52px;
  }

  .search-logo {
    width: 18px;
    height: 18px;
  }

  .nav-item {
    margin-right: 0;
    font-size: 14px;
  }

  .third-section-main-text,
  .fourth-section-main-text {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .second-section-main-text {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .second-section-subtitle-text {
    font-size: 18px;
  }

  .third-section-text,
  .fourth-section-text {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
  }
  .footer-container {
    transition: font-size 0.15s;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 866.01px) and (max-width: 992px) {
  .header-container {
    transition: 0.15s;
    margin-left: 50px;
    margin-right: 50px;
  }
  .middle-section {
    margin-left: 50px;
    margin-right: 0;
  }
  .middle-section nav ul li {
    margin-right: 30px;
  }
  .header-main-text {
    top: 150px;
    left: 40px;
    font-size: 40px;
  }

  .header-subtitle-text {
    top: 220px;
    left: 40px;
    font-size: 18px;
  }
  .audi-logo {
    height: 13px;
    width: 52px;
  }

  .search-logo {
    width: 18px;
    height: 18px;
  }

  .nav-item {
    font-size: 14px;
  }

  .headerLearnMoreBtn {
    top: 290px;
    left: 40px;
    font-size: 18px;
    padding: 14px 28px;
  }
  .third-section-main-text,
  .fourth-section-main-text {
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .second-section-main-text {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .second-section-subtitle-text {
    font-size: 18px;
  }

  .third-section-text,
  .fourth-section-text {
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 60px;
  }

  .footer-container {
    transition: font-size 0.15s;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992.01px) and (max-width: 1200px) {
  .header-container {
    transition: 0.15s;
    margin-left: 50px;
    margin-right: 50px;
  }
  .middle-section {
    margin-left: 50px;
    margin-right: 0;
  }

  .header-main-text {
    transition: 0.15s;
    top: 180px;
    left: 60px;
    font-size: 48px;
  }
  .audi-logo {
    height: 14px;
    width: 59px;
  }

  .search-logo {
    width: 26px;
    height: 26px;
  }

  .nav-item {
    font-size: 14px;
  }

  .header-subtitle-text {
    transition: 0.15s;
    top: 260px;
    left: 60px;
    font-size: 20px;
  }

  .headerLearnMoreBtn {
    transition: 0.15s;
    top: 340px;
    left: 60px;
    font-size: 20px;
    padding: 16px 32px;
  }
  .third-section-main-text,
  .fourth-section-main-text {
    font-size: 48px;
    margin-top: 70px;
    margin-bottom: 35px;
  }

  .second-section-main-text {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .second-section-subtitle-text {
    font-size: 20px;
  }

  .third-section-text,
  .fourth-section-text {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 70px;
  }

  .footer-container {
    transition: font-size 0.15s;
    font-size: 22px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 1200.01px) and (max-width: 1400px) {
  .audi-logo {
    height: 18px;
    width: 63px;
  }

  .seacrhBtn {
    height: 29px;
    width: 29px;
  }

  .search-logo {
    width: 29px;
    height: 29px;
  }

  .nav-item {
    font-size: 22px;
  }
  .header-container {
    transition: 0.15s;
    margin-left: 60px;
    margin-right: 60px;
  }
  .middle-section nav ul li {
    margin-right: 40px;
  }
  .header-main-text {
    transition: 0.15s;
    top: 199px;
    left: 80px;
    font-size: 56px;
  }

  .header-subtitle-text {
    transition: 0.15s;
    top: 282px;
    left: 80px;
    font-size: 22px;
  }

  .headerLearnMoreBtn {
    transition: 0.15s;
    top: 366px;
    left: 80px;
    font-size: 22px;
    padding: 18px 36px;
  }
  .third-section-main-text,
  .fourth-section-main-text {
    font-size: 56px;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .second-section-main-text {
    font-size: 56px;
    margin-bottom: 20px;
  }

  .second-section-subtitle-text {
    font-size: 24px;
  }

  .third-section-text,
  .fourth-section-text {
    font-size: 26px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
  }

  .footer-container {
    transition: 0.15s;
    padding-left: 90px;
    padding-right: 90px;
  }
}

@media (min-width: 1400.01px) {
  .header-main-text {
    transition: 0.15s;
    top: 199px;
    left: 80px;
    font-size: 64px;
  }

  .header-subtitle-text {
    transition: 0.15s;
    top: 282px;
    left: 80px;
    font-size: 24px;
  }

  .headerLearnMoreBtn {
    transition: 0.15s;
    top: 366px;
    left: 80px;
    font-size: 22px;
    padding: 20px 40px;
  }
  .second-section-main-text {
    font-size: 64px;
    margin-bottom: 20px;
  }

  .second-section-subtitle-text {
    font-size: 24px;
  }

  .third-section-main-text,
  .fourth-section-main-text {
    font-size: 64px;
    margin-top: 90px;
    margin-bottom: 45px;
  }
  .third-section-text,
  .fourth-section-text {
    font-size: 32px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 90px;
  }

  .footer-container {
    transition: font-size 0.15s;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 24px;
  }
}
